body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#terminal-container {
    margin: 0;
    padding: 0;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    margin: 0;
    padding: 0;
}

